SpearHead.Presentation/Connected Services/SpearHeadService/ExcelUploadService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Services/ExcelUploadService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SpearHead.DataContracts" />
  <xs:element name="Upload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpearHead.DataContracts" minOccurs="0" name="model" nillable="true" type="q1:ExcelUploadModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SpearHead.DataContracts" minOccurs="0" name="UploadResult" nillable="true" type="q2:ExcelUploadResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>